body{
    height: 100vh;
    margin: 0;
    background-image: url("./background.png");
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu h1{
    color: #130037;
    text-align: center;
    font-size: 4vh;
}

.menu h1, label, input, button{
    font-family: GameFont;
}

.menu button {
    width: 16vh;
    height: fit-content;
    border-bottom: 0.5vh double #130037;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: #130037;
    font-size: 1.7vh;
    padding-left: 0vh;
    padding-right: 0vh;
}

button:hover {
    color: #00d558;
    border-color: #00d558;
    transition: .3s;
}
button:active{
    color: #00d558;
    border-color: #00d558;
}

@font-face {
    font-family: GameFont;
    src: url(./MINECRAFTPE.ttf);
}