
header{
    display: flex;
    justify-content: center;
    font-family: GameFont;
    color: #67db4a;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://cdn.wallpapersafari.com/38/13/sQtEFD.png");
    background-size: 100vw 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
}


main {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
    justify-content: center;
    margin-top: 140px;
}

.cards {
    min-width: 16vh;
    min-height: 26vh;
    max-width: 10%;
    max-height: 18%;
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #750660de;
    font-weight: 700;
    border-radius: 5%;
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: relative; 
    font-family: GameFont;
    color: #00d558;
    overflow: hidden;
}

.cards:hover:not(.flipped){
    color: #750660de;
    background: #00d558;
    transition: .1s;
}

.cards:active:not(.flipped){
    color: hsla(311, 90%, 24%, 0.6);
    background: hsla(145, 100%, 42%, 0.6);
    transition: .1s;
}

.cards.flipped {
    transform: rotateY(180deg) !important;
    overflow: visible;
    transition: 0.6s !important ;  	
}

.cards.flipped .js-tilt-glare-inner{
    background-image: none !important;
    transform: none !important;
    transition: 1s !important;

}

.cards.flipped .js-tilt-glare{
    background-image: none !important;
    transform: none !important;
    transition: 1s !important;
    
}

.front, .back {  	    	
    position: absolute;  	
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.front {
    z-index: 1;  
    font-size: 3vh;
}    

.back {
    transform: rotateY(180deg);
    font-size: 1.32vh;
}

button {
    min-width: 8vh;
    min-height: 4vh;
    max-width: 10%;
    max-height: 10%;
    padding: 10px 15px 0px 15px;
    color: #c225a5de;
    background-color: rgb(0 65 75);
    border: 3px double #00d558;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.5vh;
    font-family: GameFont;
    display: flex;
    align-items: center;
    text-align: center;
}

button:hover {
    color: #00d558;
    border-color: #c225a5de;
    transition: .2s;
}

button:active {
    opacity: .8;
    transition: .2s;
}

@font-face {
    font-family: GameFont;
    src: url(../MINECRAFTPE.ttf);
}
