
header{
    display: flex;
    justify-content: center;
    font-family: GameFont;
    color: #67db4a;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://cdn.wallpapersafari.com/38/13/sQtEFD.png");
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
    justify-content: center;
    margin-top: 140px;
}

.cards {
    min-width: 16vh;
    min-height: 26vh;
    width: 170px;
    height: 260px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #750660de;
    border-radius: 5%;
    transition: 0.6s;  	
    transform-style: preserve-3d;    	
    position: relative; 
    font-family: GameFont;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    overflow: auto;

}

.cards:active:not(.flipped){
    color: #750660de;
    background: hsla(0, 0%, 100%, 0.6);
    transition: .1s;
}

.cards.flipped {
    transform: rotateY(180deg) !important;
    transition: 0.6s !important ;
    overflow: visible; 	
}

.cards.flipped .js-tilt-glare-inner{
    background-image: none !important;
    transform: none !important;
    transition: 1s !important;

}

.cards.flipped .js-tilt-glare{
    background-image: none !important;
    transform: none !important;
    transition: 1s !important;
    
}

.front, .back, .imgbg {  	    	
    position: absolute;  	
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.front {
    z-index: 1;  
    font-size: 4.5vh;
}    

.back {
    transform: rotateY(180deg);
    font-size: 1.8vh;
    text-size-adjust: 80%;
    -ms-text-size-adjust: 80%;
    -moz-text-size-adjust: 80%;
    -webkit-text-size-adjust: 80%;
    color: black;
}

.imgbg {
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 5%;
    background-color: rgb(255, 255, 255)
}

.imgbg img {
    width: 14vh;
    height: 14vh;
    opacity: .6;
}

button {
    min-width: 8vh;
    min-height: 4vh;
    height: 4.5vh;
    padding: 1vh 1.5vh 0vh 1.5vh;
    color: #c225a5de;
    background-color: rgb(0 65 75);
    border: 3px double #00d558;
    border-radius: 2vh;
    font-size: 1.5vh;
    font-family: GameFont;
    display: flex;
    align-items: center;
    text-align: center;
}

button:hover {
    color: #00d558;
    border-color: #c225a5de;
    transition: .2s;
}

button:active {
    opacity: .8;
    transition: .2s;
}

@font-face {
    font-family: GameFont;
    src: url(../IntroCapsCd-Trial-BkInl.ttf);
}
