* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    font-family: GameFont;
    color: #67db4a;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://cdn.wallpapersafari.com/38/13/sQtEFD.png");
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
    justify-content: center;
    margin-top: 140px;
}

.cards {
    min-width: 16vh;
    min-height: 26vh;
    width: 170px;
    height: 260px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #750660de;
    border-radius: 5%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    font-family: GameFont;
    overflow: hidden;
}

.cards:hover:not(.flipped) {
    color: #750660de;
    background: #00d558;
    transition: .1s;
}

.cards:active:not(.flipped) {
    color: hsla(0, 0%, 100%, 0.6);
    background: hsla(145, 100%, 42%, 0.6);
    transition: .1s;
}

.cards.flipped {
    transform: rotateY(180deg) !important;
    transition: 0.6s !important;
    overflow: visible;
}

.cards.flipped .js-tilt-glare-inner {
    background-image: none !important;
    transform: none !important;
    transition: 1s !important;

}

.cards.flipped .js-tilt-glare {
    background-image: none !important;
    transform: none !important;
    transition: 1s !important;

}

.front,
.back,
.imgbg {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.front {
    z-index: 1;
    font-size: 3.8vh;
    color: white;
}

.back {
    transform: rotateY(180deg);
    font-size: 1.5vh;
    text-size-adjust: 70%;
    -ms-text-size-adjust: 70%;
    -moz-text-size-adjust: 70%;
    -webkit-text-size-adjust: 70%;
    color: black;
}

.imgbg {
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 5%;
    background-color: rgb(255, 255, 255)
}

.imgbg img {
    width: 14vh;
    height: 14vh;
    opacity: .6;
}

button {
    min-width: 8vh;
    min-height: 4vh;
    padding: 0;
    color: #c225a5de;
    background-color: rgb(0 65 75);
    border: 3px double #00d558;
    border-radius: 2vh;
    font-size: 1.5vh;
    font-family: GameFont;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

button:hover {
    color: #00d558;
    border-color: #c225a5de;
    transition: .2s;
}

button:active {
    opacity: .8;
    transition: .2s;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: GameFont;
    background-color: #00000073;
    filter: blur(.6);
    z-index: 99999;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
    transition: .3s;
}

.modal > div {
    width: 90vw;
    height: 70vh;
    max-height: 50vw;
    border-radius: .2vh;
    background-color: #450982;
    border: 3px solid rgba(112, 112, 112, 0.383);
    color: #c225a5de;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal > div h3 {
    margin: 0;
    font-size: 7vw;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.modal > div > div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
} 
.modal > div button {
    border-radius: 120px;
    font-size: 5vw;
    background-color: transparent;
    border: none;
}
.modal > div button:hover {
    text-shadow: 0px 0px 25px rgb(23, 23, 23);
}

@font-face {
    font-family: GameFont;
    src: url(../FARRAY.otf);
}